*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background:linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ), url(../images/survey-form-background.jpeg);
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color-white);
  background-size: cover;
  margin: 0;
}
.container{
    margin:3em  auto ;
    padding: 0em 1em;
}
header{
  text-align: center;
}

header h1{
  font-size: 2.2rem;
}
header p{
  font-size: 1rem;
  letter-spacing: 1.2px;
}
.formgroup{
    display: flex;
    flex-direction: column;
}
form{
  background-color:hsla(0, 0%, 0%, 0.568);
  padding: 1em 1.5em;
}
form .formgroup{
  padding: 1em;
}
input{
  font: inherit;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

form .formgroup label,p{
  font-size: 1.2rem;
  margin: .5rem;
}

input,select,textarea{
    padding: .5em 1em;
    font-size: 1.1rem;
}
 input[type='checkbox'],input[type='radio']{ 
display: inline-block;
cursor: pointer;
    margin-right: 0.625rem;
    height: 1rem;
    width: 1rem;
  }

textarea{
    max-width: 100%;
}

a{
  width: 90%;
  margin: 0 auto;
  color: white;
  font-weight: 800;
  background-color:var(--color-green);
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  border: 0;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 770px;
  }
}
@media (max-width:300px) {
  .container{
    width: 90%;
  }
}


